# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyd

# Virtual Environments
.venv/
venv/
env/
ENV/

# Local data, logs, databases, model checkpoints & private config
data/
*.log
*.sqlite3
*.db
*.pth

# IDE and tool configs
.idea/
.vscode/
.gemini/
.gitattributes
